# SPDX-FileCopyrightText: 2024 Johannes Unruh <johannes.unruh@dlr.de>
# SPDX-FileCopyrightText: 2024 Florian Heinrich <florian.heinrich@dlr.de>
#
# SPDX-License-Identifier: Apache-2.0

*
!docker
!public
!src
src/setupTests.ts
**/*test.ts
!package.json
!package-lock.json
!tsconfig.json
