# SPDX-FileCopyrightText: 2026 German Aerospace Center (DLR)
# SPDX-License-Identifier: Apache-2.0

*
!docker
!public
!src
src/setupTests.ts
**/*test.ts
!package.json
!package-lock.json
!tsconfig.json
